@import url("https://fonts.googleapis.com/css2?family=Bitter:wght@300;400;500;600;700;800&family=Inter:wght@300;400;500;600;700;800&family=Manrope:wght@300;400;500;600;700;800&family=Plus+Jakarta+Sans:wght@400;500;600;700;800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

::selection {
  background: #006fee;
  color: #fff;
}

::-webkit-scrollbar {
  width: 0.5rem;
  background-color: #006fee;
  color: #006fee;
  border-radius: 0.5rem;
}

img {
  user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
}

body {
  font-family: "DM Sans", "Inter", sans-serif;
  overflow-x: hidden;
  scroll-behavior: smooth;
  min-height: 100dvh;
}
